################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/debug
/release/ColdMusic.tlog
/release


#语法检查py脚本
t.py

#autosave
*.autosave


#vistual studio files
*.vcxproj
*.filters
*.user
.vs/
v15/*

